<h1>Make and eat Burgers</h1>

<h2>Burgers ready to eat</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block available=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block available=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Create a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="new-burger">New burger:</label>
    <input type="text" id="new-burger" name="name">
  </div>

  <button type="submit">Save</button>
</form>
